@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 100px;
}

.headline{
  margin-top : 90px;
  margin-left: 90px;
  margin-bottom: 50px;
}


form {
  margin: 0 auto;
  width: 450px;
  padding: 80px;
  box-shadow: 2px 2px 20px rgba(212, 212, 212, 0.308);
}

h3 {
  font-size: 15px;
}

.headline hr {
  background-color:red;
  width:25px;
  border:2px solid red;
  margin-bottom: 10px;
}

.container hr {
  margin-top: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  display: inline-block;
  height: 25px;
  width: 100%;
}

.textarea-introduce {
  margin-bottom: 20px;
  height: 125px;
  width: 230px;
  resize: none;
}

.textarea-etc {
  margin-bottom: 5px;
  height: 125px;
  width: 100%;
  resize: none;
}

.label-first {
  font-size: 80%;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}


.image-box input[type="file"],
.file-box input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.image-box label{
  display: block;
  font-size: 13px;
  padding: 10px 20px;
  width : 100px;
  color: #999;
  vertical-align: middle;
  text-align: center;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
}

.file-box {
  margin-top: 10px;
}

.file-box label {
  font-size: 13px;
  padding: 10px 20px;
  color: #999;
  vertical-align: middle;
  text-align: center;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
}

.career-1 {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
  display: inline-block;
  width: 30%;
}

.career-2 {
  margin-top: 2px;
  margin-bottom: 2px;
  display: inline-block;
  width: 66%;
}

button {
  display: block;
  float:right;
  font-size: 13px;
  padding: 10px 20px;
  width: 30%;
  color: #999;
  vertical-align: middle;
  text-align: center;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
}

/*여기서부터 나영 추가*/

.image-box,
.introduce-area{
    display: inline-block;
    vertical-align: top;
}

.introduce-area{
    width : 230px;
    margin-right: 20px;
}

.image-box{
    width : 200px;
}

